<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>
 
        <header th:fragment="header">
            <ul>
                <li><a th:href="@{/}">Etusivu</a></li>
                <li><a th:href="@{/kategoria/Kotimaa}">Kotimaa</a></li>
                <li><a th:href="@{/kategoria/Ulkomaat}">Ulkomaat</a></li>
                <li><a th:href="@{/kategoria/Kulttuuri}">Kulttuuri</a></li>
                <li><a th:href="@{/kategoria/Tiede}">Tiede</a></li>
                <li><a th:href="@{/kategoria/Urheilu}">Urheilu</a></li>
                <li><a th:href="@{/add}">Lisää uutinen</a></li>
            </ul>
        </header>
 
    </body>
</html>