<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Top10 lists template</title>
    </head>
    <body>

        <header th:fragment="toplists">

            <!--<div style="float:left; width:50%;">-->
            <br/><br/><br/><br/>
            <h3>Top10 uusimmat</h3>
            <div th:if="${newest} != null">
                <div th:each="newsobj : ${newest}">
                    <a th:href="@{/{id}(id=${newsobj.id})}"> <span th:text="${newsobj.title}"/> <span th:text="${newsobj.date}"/></a>
                    <br/>
                </div>
            </div>
            <br/><br/>
            <!--            </div>
                        <div style="float:left; width:50%;">-->
            <h3>Top10 luetuimmat</h3>
            <div th:if="${popularest} != null">
                <div th:each="newsobj : ${popularest}">
                    <a th:href="@{/{id}(id=${newsobj.id})}"> <span th:text="${newsobj.title}"/> <span th:text="${newsobj.date}"/></a>
                    <br/>
                </div>
            </div>
            <br/><br/>
            <!--</div>-->

        </header>

    </body>
</html>