<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>MahtiUutiset</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <h1>Lisää uutinen</h1>
        <div>
            <form th:action="@{/add}" method="POST">
                <h3>Otsikko:</h3>
                <textarea cols="40" rows="1" name="title" id="title"></textarea><br/>
                <h3>Ingressi:</h3>
                <textarea cols="40" rows="3" name="lead" id="lead"></textarea><br/>
                <h3>Leipäteksti:</h3>
                <textarea cols="40" rows="10" name="text" id="text"></textarea><br/>
                <h3>Kuva:</h3>
                <input type="file" name="picture"/><br/>
                <h3>Kirjoittaja(t):</h3>
                <input type="text" name="author" id="author" placeholder="Erottele pilkulla"/><br/>
                <h3>Kategoria(t):</h3>
                <input type="checkbox" name="category" value="Kotimaa"/>Kotimaa
                <input type="checkbox" name="category" value="Ulkomaat"/>Ulkomaat
                <input type="checkbox" name="category" value="Kulttuuri"/>Kulttuuri
                <input type="checkbox" name="category" value="Tiede"/>Tiede
                <input type="checkbox" name="category" value="Urheilu"/>Urheilu <br/>
                <input type="submit" value="Julkaise"/> <br/>
            </form>
        </div>

    </body>
</html>
