<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>MahtiUutiset</title>
    </head>
    <body>

        <header th:replace="fragments/navigation :: navigation">
            <p>navigation</p>
        </header>
        <div align="center">
            <h1>Muokkaa uutista</h1><br/>
            <div>
                <form method="POST" th:action="@{/{articleId}/edit(articleId=${oldarticle.id})}" enctype="multipart/form-data">
<!--                    <input type="hidden" name="id" id="id" th:value="${oldarticle?.id}"/>-->
                    <p>Otsikko:</p>
                    <textarea cols="50" rows="1" name="title" id="title" th:text="${oldarticle.title}"></textarea><br/><br/>
                    <p>Ingressi:</p>
                    <textarea cols="50" rows="2" name="lead" id="lead" th:text="${oldarticle.lead}"></textarea><br/><br/>
                    <p>Leipäteksti:</p>
                    <textarea cols="50" rows="10" name="text" id="text" th:text="${oldarticle.text}"></textarea><br/><br/>
                    <span>Kuva:</span>
                    <input type="file" name="picture" id="picture"/><br/><br/>
                    <!--
                    <span>Kirjoittaja(t):</span>
                    <input type="text" name="author" id="author"/><br/><br/>
                    <p>Kategoria(t):</p>
                    <input type="checkbox" name="category" value="Kotimaa"/>Kotimaa
                    <input type="checkbox" name="category" value="Ulkomaat"/>Ulkomaat
                    <input type="checkbox" name="category" value="Kulttuuri"/>Kulttuuri
                    <input type="checkbox" name="category" value="Tiede"/>Tiede
                    <input type="checkbox" name="category" value="Urheilu"/>Urheilu <br/><br/>-->
                    <input type="submit" value="Päivitä"/> <br/><br/>
                </form>
            </div>
        </div>

    </body>
</html>
