<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>MahtiUutiset</title>
    </head>
    <body>
        
        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>
        
        <h1>Etusivu</h1>

        
            <div th:each="newsobj : ${news}">
                <h2 th:text="${newsobj.title}"/>
                <p th:text="${newsobj.lead}"></p>
                <!--<p th:text="${newsobj.text}">Text</p>     Kuva!-->
                <a th:href="@{/{id}(id=${newsobj.id})}">Lue</a> 
                
            </div>
    </body>
</html>
