<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title> MahtiUutiset – </title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <h1 th:text="${listname}">name</h1>
        <!--
        
        -->
        <div th:each="newsobj : ${news}">
            <a th:href="@{/{id}(id=${newsobj.id})}"> <span th:text="${newsobj.title}"/> <span th:text="${newsobj.date}"/></a>
            <br/>
        </div>

    </body>
</html>
