<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>MahtiUutiset</title>
    </head>
    <body>

        <header th:replace="fragments/header :: header">
            <p>header</p>
        </header>

        <article>
            <h1 th:text="${newsarticle.title}"></h1>
            <h3 th:text="${newsarticle.lead}"></h3>
            <!--kuva, -->
            Kirjoittajat:
            <div th:each="author : ${newsarticle.authors}" th:text="${author.name}"></div>
            <!--<span th:each="a, iter : ${newsarticle.authors}" th:text="!${iter.last} ? ${a} + ',': ${a}"></span>-->

            <p th:text="'Julkaistu ' + ${newsarticle.date}"></p>
            <p th:text="${newsarticle.text}"></p>
            Kategoriat:
            <span th:each="category : ${newsarticle.categories}" th:text="${category.name} +' '"></span>


        </article>




    </body>
</html>